
/*               ALLERTE GENERALI               */
 
.alert{
    font-size: 19px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    box-shadow: 1px 2px 8px rgb(160, 153, 153);
} 


.container_titles{
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgb(200, 193, 193); 
    background-color: white;
}

.title_general{
    color: #0d6efd;
    letter-spacing: 1px;
    font-weight: bold;
}


/*   STILE FORMULARI MODIFICA DATI UTENTE     */

.card-header{
   font-size: 20px;
   letter-spacing: 2px;
   text-align: center;
   text-transform: uppercase;
}

button{
    margin: 0 auto; 
}

.link_login,
.link_register{
    width: 300px;
    margin: 0 auto; 
    font-size:17px;
    margin-top: 12px;
    background-color: #0d6efd;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.link_login a,
.link_register a{
    color: white;
    text-transform: uppercase;
}


/*       STILE HEADER      */

#home:hover{
    scale: 1.1;
    text-shadow: 2px 2px 3px  #92aacd;
}


#navbarNoAuth{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 22px;
}

.starting_menu a{
    color: rgb(63, 60, 60);
}

.starting_menu:hover{
    background-color: #0d6efd;
    box-shadow: 1px 1px 2px  #92aacd;
    border-radius: 10px;  
    padding-right: 5px; 
    padding-left: 5px; 

}

.starting_menu:hover a{
    color: white;
}

.menu_starting_hover{
    display: none; 
    position: relative;
}

.menu_starting_hover a{
    color: black;
    text-decoration: none;
}

.menu_starting_hover .dropdown-menu{
    font-size: 19px;
    padding: 8px;
    position: absolute;
    top: 37px;
}

.menu_starting_hover .dropdown-menu .dropdown-link:hover{
    text-decoration: underline;
}

#chose_language{
   display: flex;
   align-items: center;
   justify-content: center;
}


 #chose_language img{
    border: 2px solid black;
    border-radius: 6px;
} 

#chose_language .dropdown-toggle{
    background-color: transparent;
    border: transparent;
    color: transparent;
}

#chose_language .dropdown-menu{
    position: absolute;
    top: 37px;
}

#chose_language .dropdown-item{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

#chose_language .dropdown-item:hover{
    text-decoration: underline;
}

#chose_language .dropdown-item img{
    width: 35px;
    height: 25px;
}


#search_user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6px;
}

.download{
    cursor: pointer;
}


.button_download{
    z-index: 1;
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: absolute;
    left: -80px;
    top: 40px;
}

.button_home{
    margin-top: 7%;
    width: 160px !important;
}

.button_download{
   margin-top: 7%;
   right: 490px;
}

.button_download a{
    text-decoration: none;
}

.download_fakeUsers:hover{
    color: rgb(202, 189, 189);
    scale: 1.1;
}

.button_avatar{
    margin-top: 0.3%;
    right: 65px;
}

.button_notications{
    margin-top: 3%;
    margin-left: 26%;
}

#search_user input[type = text]{
    border-top-left-radius: 10px;
    border-end-start-radius: 10px;
    padding-left: 10px;
}

#search_user input[type = text]:focus{
    background-color: rgb(254, 250, 247);
    color: rgb(44, 40, 40);
    cursor: pointer;
}

#search_user button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search_user img{
    width: 17px;
    height: 17px;
}

.content_search{
 
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(200, 193, 193); 
}

.content_search_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.user_found{
    display: flex;
    gap: 180px;
    align-items: center;
    border-bottom: 1px solid rgb(45, 44, 44);
}

.user_found img{
    width: 60px;
    height: 55px;
    border-radius: 50px;
    background-color: rgb(165, 209, 167);
}

.content_search a{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 5px;
}

.content_search a:hover{
    text-decoration: underline;
}

.content_search img{
    width: 43px;
    height: 40px;
    border-radius: 50px;
} 

.menu_search{
    border: transparent;
    padding: 10px;
}

.menu_acount_hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.menu_acount_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.menu_acount a:hover{
    text-decoration: underline;
}


.arrow_files{
    position: absolute;
    left: 48%;
    top: 0%;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    display: none;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

.arrow_files:hover .arrow_image{
    scale: 1.3;
}

.menu_files{
    display: none;
    position: absolute;
    right: 198px;
    top: 82px;
}

.menu_files a:first-child:hover{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
} 

.menu_files a:last-child:hover{
   border-end-end-radius: 10px;
   border-end-start-radius: 10px;
 }

.li_hover:hover{
    text-decoration: underline;
}

#avatar_profile{
    width: 45px; 
    height: 42px; 
    border-radius: 900px;
     position: relative;
}

#notifications{
    display: flex;
    align-items: center;
}

#notifications a{
   text-decoration: none;
   display: flex;
   align-items: center;
    margin-left: 6px;
    cursor: pointer;
    position: relative; 
}

#notifications_number{
    position: absolute; 
    margin-left: 8px;
    font-size: 15px; 
}



/*       BOTTONE RICHIESTE DI AMICIZIA  (profilo utente)  */

.menu_friendships{
    background-color: white;
    border-radius: 10px;
}

.menu_friendships form{
    width: 100%;
}

.menu_friendships form input[type="submit"]:hover,
.menu_friendships form button:hover{
    background-color: rgb(253, 244, 244);
    border-radius: 10px;
    text-decoration: underline;
    font-size: 15px;
}

.confirm_friedship{
    position: absolute;
    width: 420px;
    font-size: 18px;
    border-radius: 10px;
    z-index: 2;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153);
     left: 0%;  
}


/*   CONTAINER PRINCIPALE   */

main{
    margin-top: 60px;
}


/*     STILE CARDS IMMAGINI E VIDEO UTENTI     */

.card{
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
    margin-bottom: 25px;
    transition: 1s;
}

.card_files:hover{
    background-color: rgb(188, 180, 180); 
}

.card_files:hover .file_index{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 56, 56);
}

.card_files:hover .file_index img{
    width: 50%;
}

.container_avatar{
    display: flex;
    width: auto;
    height: 130px;
    padding-right: 25px;
    align-items: center;
    justify-self: flex-start;
    gap: 10px;
    border-radius: 100px;
    background-color: white;
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
} 

.avatar{
    width: 150px;
    height: 100%;
}

.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100px; 
    border-right: 2px solid black;
}

.user_datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarProfile{
    width: 98%;
    background-color: white;
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
}

.navbarProfileElements{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    padding-right: 15px;
    flex-wrap: wrap;
}

.navbarProfileElements a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbarProfile a:hover{
    text-decoration: underline;
}

.buttonProfile{
    width: 15%;
    padding-left: 15px;
}


.container_button_chat{
    background-color: #0d6efd;
    color: white;
    position: relative;
}


.button_chat{
    color: white !important;
}


.number_messages{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 5px;
    text-align: center; 
    transition: 0.5s;
}

.number_messages span{

    font-size: 16px;
    font-weight: bold;
    background-color: red;
    box-shadow: 1px 1px 2px rgb(75, 71, 71);
    border-radius: 100px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.container_button_chat:hover .button_chat{ scale: 1.2; }

.container_button_chat:hover .number_messages{
    width: auto;
     transform: translate(33px,-15px); 
    }

.titles{
    border-radius: 18px;
}

.titles h3{
    margin: 0 auto;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.content_images,
.content_videos{
    width: 48%;  
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile_content_images{
    border-radius: 20px;
}

.user_index{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.user_index a{
    text-decoration: none;
    color: black;
    font-size: 23px;
}

.user_index a:hover{
    text-decoration: underline;
}

.user_index img{
    display: block;
    width: 45px;
    height: 42px;
    border-radius: 50px;
}

.container_index_user{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}

.file_index{
    width: 100%;
   height: 350px;  
}

.file_index img,
.file_index video{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
 }




/*   CONTAINER RESPONSIVE IMMAGINI E VIDEO  */

#container_index{
    display: flex; 
    justify-content : space-between;
}

.nav_responsive{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -10px; 
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
    transform: translateY(-80px);
}

.nav_responsive div{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.nav_responsive div:first-child{
    width: 130px;
}

.nav_responsive div:last-child{
    width: 100px;
}

.container_responsive{
    margin-top: 20px;
    display: none;
}

#button_images_responsive{
    border: 4px solid black;
    text-decoration: underline;
}

#videos_responsive{
    display: none;
}



/*    PROFILO UTENTE   */

.profile_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-height: 300px;
}

.profile_image{
    width: 100%;
}

.profile_image img{
    width: 100%;
    height: 290px;
    border-radius: 10px;
    padding: 5px;
}

.profile_comments{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 5px;
    width: 45%;
}

.profile_content_videos{
    border-radius: 20px;
}




/*    SEZIONE  LIKE        */

.like{
    width: auto;
    display: flex;
}

.like_content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
} 

.like img{
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.likes_count{
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

/*       MENU  A  TENDINA  LIKES      */

.likes_count ul{
    display: none;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 20px;
    z-index: 2;
    background-color: white;
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
}

.likes_count:hover ul{
    display: block;
}

.likes_users{
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 4px;
    padding-right: 30px;
}

.likes_users img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.likes_users a{
    text-decoration: none;
    color: black;
    font-size: 21px;
}

.likes_users a:hover{
    text-decoration: underline;
    font-size: 20px;
  
}


/*    SEZIONE  COMMENTI     */


.comments .list-group-item{ 
    width: 97%;
    height: auto;
    margin: 0 auto;
    font-size: 18px;
    color: black;
    border-radius: 25px; 
    background-color: rgba(232, 231, 231, 0.949);
    box-shadow: 1px 1px 2px rgb(215, 212, 212);
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

.comments a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.button_comments{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_comments button{
    width: 40px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.nick_comment:hover{
    text-decoration: underline;
}

.button_comments button:hover{
    background-color: transparent;
    scale: 1.3;
}

.button_comments li{ 
    text-align: center; 
    font-size: 16px;
}


.form_comments{
    widows: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}


.form_comments input[type="text"]{
    width: 100%;
    background-color: rgba(232, 231, 231, 0.949);
    box-shadow: 1px 1px 2px rgb(215, 212, 212);
} 

.arrow{
    width: 25px; 
    height:25px; 
}






/*      COMMENTI  TOTALI      */

.comments_total{
    width: auto;
}



/*        DETTAGLI  IMMAGINI  E  VIDEO    */

.navbarCarouselDetail{
    width: 75%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

 .content_details{
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.content_details h3{
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

 .content_row{
    width: 100%;
    min-height: 500px;
}

.content_files{
    width: 52%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    float: left; 
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
}

.content_files img{
    border-radius: 10px;
}

.container_menu_detail{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.menu_detail{
    width: 145px;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: normal;
    list-style: none;
    display: flex;
    flex-direction: column; 
    border-radius: 10px;
    background-color:  white;
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
    z-index: 2;
    position:absolute; 
    right: 35px;
    top: -100px; 
    opacity: 0;
}

.menu_detail li{ padding-left: 5px; }

.menu_detail a{  font-size: 18px; }

.detail_back{  color: #0d6efd !important; }

.destroy_file a{ color: red !important; }

.menu_delete_elements:hover ul{
    display: block !important;
}

.menu_delete_elements ul li{
    width: 100%;
    text-align: left;
    padding-top: 10px;
}

.menu_delete_elements ul li a{
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}

.menu_delete_elements ul li:hover,
.menu_delete_elements ul li a:hover{
    text-decoration: underline;
}

.confirm{
    position: absolute; 
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    top: -10px;
    left: -150px;
    z-index: 1;
    border-radius: 10px;
    background-color:  white;
    border: 1px solid black;
    letter-spacing: 1px;
}

.confirm .confirm_choise,
.confirm_choise form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.confirm h3{
    color: red;
}

.description_detail{
    width: 98%;
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    font-size: 20px;
    margin-top: 15px;
}

.content_detail{
    width: 45%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    float: right; 
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(200, 193, 193);
    box-shadow: 1px 2px 8px rgb(160, 153, 153); 
}

.content_detail h3{
    text-align: center;
    border-radius: 10px;
}

.clearfix{
    float: none;
    clear: both;
} 




/*     CHAT      */

.offcanvas{
    width: 65% !important;
}

.bodyChat{
    background-color: rgb(228, 230, 239);
}

.container_chat{
    border-radius: 8px;
    width: 100%;
    min-height: 560px;
    background-color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 230, 239);
}

.day_chat{
    width: auto;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(228, 230, 239);
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgb(45, 44, 44);
    border-radius: 15px;
    text-align: center;
    font-size: 19px;
}

.container_chat li {
    border: 1px solid black;
    border-radius: 10px;
    width: 85%;
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    box-shadow: 1px 1px 2px rgb(45, 44, 44);
    font-size: 18px;

}

.message_friend {
    align-self: flex-start;
    background-color: rgb(246, 241, 241);
  }

  .message_user {
    align-self: flex-end;
    margin-right: 40px;
    background-color: rgb(216, 246, 216);
  }

  .user_chat{
    width: auto;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .hour_chat{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

.container_chat img{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    border: 1px solid black;
}

.delete_chat{
    font-size: 22px;
    padding: 5px;
    cursor: pointer;
}


.delete_chat:hover{
    border: 1px solid rgb(97, 89, 89);
    background-color: rgb(205, 238, 205);
    box-shadow: 1px 1px 2px rgb(45, 44, 44);
    border-radius: 7px;
}



 .form_chat input[type="text"]{
    height: 40px;
    font-size: 23px;
    border-radius: 15px;
    padding-left: 10px;
}


